h1{
	text-align: center;
	margin: 0;
	padding: 0.4em;
	color: #ffffff;
	background-color: rgba(0,0,0,0.85);
}
h2{
	color: #ffffff;
}
p{
	font-size: x-large;
	font-family: serif;
	margin: 7.2em auto;
	padding: 1.8em;
	border-radius: 13px;
	line-height: 1.8;
	background-color: rgba(225,225,225,0.2);
}
html,body{height: 100%;}
body{
	margin: 0;
	color:#000000;
	background:#00bfff url(IMG_0584.JPG);
	background-size:cover;
}
li{
	text-align: center;
	font-weight: bold;
	border: solid 6px;
}
#link1{border-color: #ffcc00}
